.jumbotron{
    background-color: red;
    color: white;
    margin-top: 3.5em;
}

/* Cada item tenga un mismo comportamiento */
/* Cuando se usa flex, no tiene sentido utilizar las clases de bootstrap para columnas*/
.poke-card{
    flex: 1 275px;
    padding: 1em 1em 1em 1em;
    margin: 1em 0 0 0;
}

.poke-card .btn-reserva{
    width: 100%;
    /*
    position: absolute;
    left:0;
    bottom:0;*/
}

footer{
    padding: 10px 10px 0 10px;
    background-color: slategrey;
    margin-bottom: 0px;
    margin-top: 2rem;
}